<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Personal_Wave_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Personal_Wave_Recorder.Properties.Settings>
            <setting name="SettingBufferSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="SettingBufferCount" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SettingOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingAmplitudeThreshold" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="SettingSamplesPerSecond" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="SettingBitsPerSample" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SettingChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SettingAudioInputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingAudioOutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingLoopPlayback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingGraphClicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingLeftEq100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq200" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq400" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq800" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq1600" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq3200" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingLeftEq6400" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq200" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq400" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq800" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq1600" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq3200" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingRightEq6400" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingEqOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingLowPassOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingHighPassOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingEqShowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingRepeatOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingVolume" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="SettingInputPath" serializeAs="String">
                <value />
            </setting>
        </Personal_Wave_Recorder.Properties.Settings>
    </userSettings>
</configuration>